body {
  display: grid;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0;
  background-color: rgb(36 36 36);
}

h1 {
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fe4a49;
  font-size: 60px;
}

p {
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  font-size: 20px;
  color: #fe4a49;
  margin: 0;
}

a {
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fe4a49;
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}